site_name: PSImmyBot
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
nav:
  - Home: index.md
  - Cmdlets:
      - Overview: cmdlets/index.md
  - Models:
      - Overview: models/index.md
markdown_extensions:
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.superfences
